body{
    background-image: url(images/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
}
.bg-text{
    color: white;
    text-align: center;
    padding: 250px ; 
    background-attachment: fixed; 
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
}
.scroll-button{
    margin-top: 75px;
    margin-left: 930px;
    height: 50px;
    width: 50px;
}

#about-box{
    background-color: rgb(148, 148, 148);
    padding: 50px 200px 50px 200px;
    margin-top: 60px;
    box-shadow: aqua;
    text-align: center;
}

#what-container{
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.what-h1{
    text-align: center;
    padding-top: 160px;
    color: white;
}

#what-box{
    padding: 50px 200px 50px 200px;
    background-color: #092532;
    text-align: center;
    color: white;
}

#how-container{
    background-image: url(images/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.how-h1{
    text-align: center;
    padding-top: 160px;
    color: white;
}

#how-box{
    padding: 50px 200px 50px 200px;
    background-color: white;
    text-align: center;
}

#piechart{
    text-align: center;
    padding: 05px 550px;
    
}

#solution-container{
    background-image: url(images/bg3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.solution-h1{
    text-align: center;
    padding-top: 160px;
    color: white;
}

.solution-box{
    padding: 50px 200px 50px 200px;
    background-color: white;
    text-align: center;
    /* display: flex;
    flex-direction: row; */
}







 



.effective-container{
    background-image: url(images/bg4.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.effective-h1{
    text-align: center;
    padding-top: 160px;
    color: white;
}

.effective-box{
    padding: 50px 200px 50px 200px;
    background-color: white;
    text-align: center;
    
}

.effective-img{
    border-radius: 05%;
}

.response-rows{
    padding: 30px 50px 30px 50px;    
}


.effects-container{
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.effects-h1{
    text-align: center;
    padding-top: 160px;
    color: white;
}

.effects-box{
    padding: 50px 200px 50px 200px;
    background-color: #092532;
    text-align: center;
    color: white;
}


.novelty-container{
    background-image: url(images/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.novelty-h1{
    text-align: center;
    padding-top: 160px;
    color: white;
}

.novelty-box{
    padding: 50px 200px 50px 200px;
    background-color: rgb(148, 148, 148);
    text-align: center;
}


.obj-container{
    background-image: url(images/bg3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.obj-h1{
    text-align: center;
    padding-top: 160px;
    color: white;
}
.obj-box{
    padding: 50px 200px 50px 200px;
    background-color: white;
    text-align: center;
}


.goals-container{
    background-image: url(images/bg4.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.goals-h1{
    text-align: center;
    padding-top: 160px;
    color: white;
}
.goals-box{
    padding: 50px 200px 50px 200px;
    background-color: white;
    text-align: center;
}


.plan-container{
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.plan-h1{
    text-align: center;
    padding-top: 160px;
    color: white;
}
.plan-box{
    padding: 50px 200px 50px 200px;
    background-color: #092532;
    text-align: center;
    color: white;
}


.analysis-container{
    background-image: url(images/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.analysis-h1{
    text-align: center;
    padding-top: 160px;
    color: white;
}
.analysis-box{
    padding: 50px 200px 50px 200px;
    background-color: rgb(148, 148, 148);
    text-align: center;
}


.roadmap-container{
    background-image: url(images/bg3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.roadmap-h1{
    text-align: center;
    color: white;
    padding-top: 160px;
}
.roadmap-box{
    padding: 50px 200px 50px 200px;
    background-color: white;
    text-align: center;
}


.forecast-container{
    background-image: url(images/bg4.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.forecast-h1{
    text-align: center;
    color: white;
    padding-top: 160px;
}
.forecast-box{
    padding: 50px 200px 50px 200px;
    background-color: white;
    text-align: center;
}


.expdate-container{
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.expdate-h1{
    text-align: center;
    color: white;
    padding-top: 160px;
}
.expdate-box{
    padding: 50px 200px 50px 200px;
    background-color: #092532;
    text-align: center;
    color: white;
}



.conclusion-container{
    background-image: url(images/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.conclusion-h1{
    text-align: center;
    color: white;
    padding-top: 160px;
}
.conclusion-box{
    padding: 50px 200px 50px 200px;
    background-color: rgb(148, 148, 148);
    text-align: center;

}


.future-container{
    background-image: url(images/bg3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.future-h1{
    text-align: center;
    color: white;
    padding-top: 160px;
}
.future-box{
    padding: 50px 200px 50px 200px;
    background-color: white;
    text-align: center;
}


footer{
    padding-top: 140px;
    color: white;
    text-align: center;
    background-image: linear-gradient(#0F2027,#203A43,#2C5364);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}




/* responsive */
@media (max-width:1028px){
    body{
        background-attachment: fixed;
        background-repeat:no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-position:center;
    }
    .scroll-button{
        margin-top: 170px;
        margin-left: 190px;
        height: 30px;
        width: 30px;
    }
    .bg-text{
        color: white;
        text-align: center;
        padding: 50px 50px; 
        margin-top: 100px;
        background-attachment: fixed; 
        font-size: 50px;
    }

    #about-box{
        background-color: rgb(148, 148, 148);
        padding: 40px 70px 30px 70px;
        margin-top: 60px;
        box-shadow: aqua;
        text-align: center;
        font-size: 80%;
    }
    #what-box{
        padding: 50px 70px 50px 70px;
        background-color: #092532;
        text-align: center;
        color: white;
        font-size: 80%;
    }
    .what-h1{
        font-size: 2rem;
        text-align: center;
        padding: 70px 50px;
    }
    #how-box{
        padding: 50px 70px 50px 70px;
        background-color: white;
        text-align: center;
        color: black;
        font-size: 80%;
    }
    .how-h1{
        font-size: 2rem;
        text-align: center;
        padding: 140px 50px;
    }
    .solution-box{
        padding: 50px 70px 50px 70px;
        background-color: white;
        text-align: center;
        font-size: 80%;
    }
    .solution-h1{
        font-size: 2rem;
        text-align: center;
        padding: 140px 50px;
    }
    .cards{
        margin: 10px;
        width: 100%; 
        align-content: center;
        flex: content;
        flex-direction: column;
    }
    .effective-box{
        padding: 50px 70px 30px 70px;
        background-color: white;
        text-align: center;
        font-size: 80%;
    }
    .effective-h1{
        font-size: 2rem;
        text-align: center;
        padding: 140px 50px;
    }
    .effects-box{
        padding: 50px 70px 30px 70px;
        background-color: white;
        text-align: center;
        font-size: 80%;
    }
    .effects-h1{
        font-size: 2rem;
        text-align: center;
        padding: 140px 50px;
    }
    .novelty-box{
        padding: 50px 70px 30px 70px;
        background-color: white;
        text-align: center;
        font-size: 80%;
    }
    .novelty-h1{
        font-size: 2rem;
        text-align: center;
        padding: 160px 50px;
    }
    .obj-box{
        padding: 50px 70px 30px 70px;
        background-color: white;
        text-align: center;
        font-size: 80%;
    }
    .obj-h1{
        font-size: 2rem;
        text-align: center;
        padding: 140px 50px;
    }
    .goals-box{
        padding: 50px 70px 30px 70px;
        background-color: white;
        text-align: center;
        font-size: 80%;
    }
    .goals-h1{
        font-size: 2rem;
        text-align: center;
        padding: 140px 50px;
    }
    .plan-box{
        padding: 50px 70px 30px 70px;
        background-color: white;
        text-align: center;
        font-size: 80%;
    }
    .analysis-box{
        padding: 50px 70px 30px 70px;
        background-color: white;
        text-align: center;
        font-size: 80%;
    }
    .analysis-h1{
        font-size: 2rem;
        text-align: center;
        padding: 140px 50px;
    } 
    .plan-h1{
        font-size: 2rem;
        text-align: center;
        padding: 140px 50px;
    }
    .roadmap-box{
        padding: 50px 70px 30px 70px;
        background-color: white;
        text-align: center;
        font-size: 80%;
    }  
    .roadmap-h1{
        font-size: 2rem;
        text-align: center;
        padding: 50px 50px;
    }
    .forecast-box{
        padding: 50px 70px 30px 70px;
        background-color: white;
        text-align: center;
        font-size: 80%;
    }
    .forecast-h1{
        font-size: 2rem;
        text-align: center;
        padding: 140px 50px;
    }
    .expdate-box{
        padding: 50px 70px 30px 70px;
        background-color: #092532;
        text-align: center;
        font-size: 80%;
    }
    .expdate-h1{
        font-size: 2rem;
        text-align: center;
        padding: 110px 50px;
    }
    .conclusion-box{
        padding: 50px 70px 30px 70px;
        background-color: white;
        text-align: center;
        font-size: 80%;
    }
    .conclusion-h1{
        font-size: 2rem;
        text-align: center;
        padding: 140px 50px;
    }
    .future-box{
        padding: 50px 70px 30px 70px;
        background-color: white;
        text-align: center;
        font-size: 80%;
    }

    #piechart{
        text-align: center;
        padding: 05px; 
        /* margin-left: -450px; */
        display: flex;
        flex-direction: column;
        box-sizing: 50px;
        margin-left: -100px;
    }
    .table-team{
        padding: 100px 70px;
        /* font-size: 50%; */
    }

    #main {
        transition: margin-left .5s;
        padding: 160px;
        position: fixed;
        margin-left: -07%;
    }

}


.cards{
    margin: 10px;
    width: 100%; 
    align-content: center;
    flex: content;
    flex-direction: column;
}

.team-btn{
    align-items: center;
    margin-top: 30px;
}



/* body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
} */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-size: 80%;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  position: fixed;
  padding-left: 95%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
